
 /* 全体のスタイル */
    body {
      margin: 0;
      padding: 0;
    }

    /* サイト全体の最大幅を設定 */
    .container {
      max-width: 1200px;
      margin: 0 auto;
    }

    /* ヘッダーエリア */
    header {
      padding: 20px;
    }

    .logo {
      /* ロゴのスタイル */
      font-size: 24px;
      font-weight: bold;
    }

    nav {
      margin-top: 10px;
    }

    nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-around;
    }

    nav ul li {
      margin-right: 10px;
    }

    nav ul li a {
      text-decoration: none;
    }

    .breadcrumbs {
      /* パンくずリストのスタイル */
      font-style: Verdana;
    }

    /* ビジュアルエリア */
    .visual-area {
      padding: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
  
    }

    /* コンテンツエリア */
    .content-area {
      display: flex;
      justify-content: center; /* コンテンツをセンター寄せにする */
      text-align: center;
      
     
    }

    main {
      /* メインコンテンツのスタイル */
      flex: 2;
      background-color: rgb(224, 224, 249);
     
    }

    aside {
      /* サイドバーのスタイル */
      flex: 1;
      background-color: #f8f8f8;
      padding: 20px;
    }

    /* フッターエリア */
    footer {
      background-color: #f2f2f2;
      padding: 20px;
    }

    font{
      font-family: 'Helvetica', sans-serif;
    }

    p{
      font-size: 1.5em;
      font-weight: 100;
      text-decoration: none;
    }

    h1{
      font-size: 1.9em;
      padding:25px;
      padding-left: 40px;
    }

    .foto{
      text-align: center;
    }

    .honbun{
      max-width: 1200px;
      background-color: rgb(212, 212, 253);
      color: rgb(0, 0, 0);
      text-align: center;
      font-size: 18px;
    }

    .URL{
      color: rgb(13, 125, 45);
    }

    /* 中央に固定するためのスタイル */
    .code-container {
      display: flex;
      justify-content: center;
    }

    /* テキストを折り返すスタイル */
    .code-container pre {
      white-space: pre-wrap;
      max-width: 1000px; /* 最大幅を800pxに制限 */
      /* max-height: 400px; */ /* 最大高さを400pxに制限（必要な場合に設定） */
      overflow: auto; /* 高さ制限を超えた場合にスクロールバーを表示 */
    }

    .pepe{
      color: #d4ff00;
    }

    b{
      text-decoration: none;
    }


/* レスポンシブなスタイル */
/* PC向けのスタイル */
    @media only screen and (min-width: 768px) {
        body {
          font-family: Baskerville, sans-serif;
          background-color: #131313;
          padding: 20px;
        }

        header {
          background-color: rgb(38, 44, 65);
          padding: 20px;
          color: rgb(255, 255, 255);
          text-align: center;
        }

        header nav {
          display: flex;
          justify-content: center;
          list-style: none;
          padding: 0;
          font-size: 28px;
        }

        .logo{
          font-size: 40px;
        }

        header nav li {
          margin: 0 10px;
        }

        .breadcrumbs{
          font-size: 25px;
        }
        
        .foto{
          text-align: center;
        }

        a{
          color: rgb(229, 169, 169);
        }

        .content-area { 
          color: #212121;
          background-color: #131313;
        }
        
        .visual-area {
          background-color: rgb(22, 22, 22);
          color: #f1f1f1;
        }

        footer {
          background-color: rgb(19, 19, 19);
          padding: 20px;
          color: rgb(255, 255, 255);
          text-align: center;
          font-size: 12px;
        }

       .custom-link{
         color: #000000;
         background-color: rgb(224, 224, 249);
         border-radius: 30px;
        }

        .custom-link:hover {
          color: rgb(255, 255, 255);
          background-color: rgb(48, 48, 48);
        }


        main {
          display: block;
        }

      }


/* スマートフォン向けのスタイル */
    @media only screen and (max-width: 767px) {
        body {
          font-family: Baskerville, sans-serif;
          background-color: #131313;
          padding: 10px;
        }

        header {
          background-color: rgb(38, 44, 65);
          padding: 10px;
          color: rgb(255, 255, 255);
          text-align: center;
        }

        .logo{
          font-size: 36px;
        }

        header nav {
          display: flex;
          justify-content: center;
          list-style: none;
          padding: 0;
          font-size: 25px;
        }

        header nav li {
          margin: 0 5px;
        }

        .breadcrumbs{
          font-size: 30px;
        }

        .foto{
          max-width: 75%; /* 画像の最大幅を親要素に合わせる */
          height: auto; /* アスペクト比を保ちつつ高さを自動調整 */
          width: auto;
        }

        .portfolio-item {
          padding: 10px;
          margin-bottom: 20px;
          border-radius: 10px;
          justify-content: right;
          align-items: right;
          background-color: rgb(224, 224, 249);
        }

        .portfolio-item:hover {
          background-color: rgb(48, 48, 48);;
        }
        
        a{
          color: rgb(229, 169, 169);
        }

        .visual-area {
          background-color: rgb(22, 22, 22);
          color: #f1f1f1;
        }

        footer {
          background-color: rgb(0, 0, 0);
          padding: 10px;
          color: rgb(255, 255, 255);
          text-align: center;
          font-size: 12px;
        }
        
        .custom-link{
          color: #000000;
          background-color: rgb(151, 151, 197);
          border-radius: 30px;
        }
 
        .custom-link:hover {
          color: rgb(255, 255, 255);
          background-color: rgb(48, 48, 48);
        }

        .URL{
          font-size: 25px;
        }

        .video-container {
          max-width: 80%;
          position: relative;
          padding-bottom: 56.25%; /* アスペクト比16:9の動画の場合 */
          /* padding-bottomの値は動画の縦横比に応じて適宜調整してください */
          margin: 0 auto; /* 中央に固定するためのマージン指定 */
          overflow: hidden;
        }
        
        .video-container iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 80%;
        }

        .video-container video {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 80%;
        }


        .code-container {
          font-size: 14px; /* 適切なフォントサイズを指定（必要に応じて調整） */
          height: auto; /* アスペクト比を保ちつつ高さを自動調整 */
          width: auto;
       }
     }